
<%= stylesheet_link_tag "login", :media => "all" %>
<%= stylesheet_link_tag "top", :media =>"all" %>

<div class="blur">
<%= image_tag 'after5.png',:alt => "After 5",:class => "img-responsive img-responsive-overwrite logo"%>

<div class="login_box center-block">
  <div class="login_logo">Login</div>
  <div class="box">
    <span class="tape"></span>
    <div class="text-center"></div>
    <div id="user-info" class="center-block">
      <% if user_signed_in? %>
        <%= redirect_to(events_path) %>
        <%= current_user.name %>
        [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
      <% else %>
          <%= link_to image_tag('google_signin_button.png', :class => 'img-responsive'), user_omniauth_authorize_path(:google_oauth2) %>
      <% end %>
    </div><!-- google login button -->
  </div>
</div>




</div>
</div>
