
<%= form_for @bar,:url =>{:action => :create} do |f| %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <table class="event_table">
            <tbody>
                <tr>
                  <th><%= f.label :name,"お店の名前" %></th>
                  <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                  <th><%= f.label :url,"お店のWebページ" %></th>
                  <td><%= f.text_field :url %></td>
                </tr>
            </tbody>
        </table>

        <% if @bar.errors.any? %>
        <%= @bar.errors.messages[:name][0]%>
        <% end %>
        <br>
        <p>
          <%= f.submit("新しいお店を追加",:class => "btn btn-info" ) %>
        </p>

      <% end %>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
