<h1>Event's Bars</h1>

<ul>
  <% @bars.each do |bar| %>
  <li>
    <%= link_to bar["name"],event_bar_path(bar["event_id"],bar["id"]) %>
    <%= link_to "[Edit]",edit_event_bar_path(bar["event_id"],bar["id"]) %>
    <%= link_to "[Delete]",event_bar_path(bar["event_id"],bar["id"]),method: :delete, data: { confirm: "are you sure?"} %>
  </li>
  <% end %>
</ul>



<p><%= link_to "Add New", new_event_bar_path %></p>
