<%= form_for(@event, html:{class: 'form-horizontal'}) do |f| %>
  <table class="table table-striped table-bordered">
          <tbody>
          <tr>
            <td><%= f.label :title,"イベントタイトル" %></td>
            <td><%= f.text_field :title %></td>
          </tr>

          <tr>
            <td><%= f.label :detail,"詳細" %></td>
            <td><%= f.text_area :detail %></td>
          </tr>
            <tr>
               <th>開催候補日</th>
               <th></th>
            </tr>
            <% @event.event_dates.each do |event_date| %>
              <%= f.nested_fields_for :event_dates, wrapper_tag: :tr do |q| %>
                  <td><%= q.date_field   :date,     class: 'form-control' %></td>
                  <td><%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
              <% end %>
            <% end %>

        </tbody>
      </table>
      <%= f.hidden_field :userid, value: current_user.uid %>
      <%= f.add_nested_fields_link :event_dates, '開催日の候補を追加する', class: 'btn btn-primary', role: 'button' %>

      <p>
        <% if @event.errors.any? %>
          <% @event.errors.full_messages.each do |error| %>
            <%= error %><br>
          <% end %>

        <% end %>

      </p>



    <p>
      <%= f.submit("新しいイベントを追加",:class => "btn btn-info" ) %>
    </p>
<% end %>
