<div class="title_text">あなたのイベント一覧</div>

<div class="list-group">
  <% @events.each do |event| %>
    <%= link_to event_path(title: event.title) , :class => "list-group-item " do %>

    <h4 class="list-group-item-heading"><%= event.title %></h4>
    <p class="list-group-item-text"><%= event.detail %></p>
    <% end %>
  <% end %>
</div>

<p><%= link_to "Add New Event", new_event_path,:type => "button" ,:class => "btn btn-success" %></p>
