<%= stylesheet_link_tag "events", :media => "all" %>

<div class="title_text"><%= @event.title %></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">参加者   <%= link_to "参加者を追加する", new_event_invitee_path(@event),{:class => "btn btn-success" , :type => "button"} %></p>


      <%= form_for @event,:url =>{:action => :create} do |f| %>
      <table class="table table-bordered eventinfo_table">
        <thead>
          <tr>

            <th>参加者名</th>
            <th>コメント</th>
            <th>参加可否</th>
            <% @event.event_dates.each do |date| %>
              <th>
                <%= date.date %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>

            <% @event.invitees.each do |invitee_info| %>
              <tr>

                <td><%= invitee_info.name %></td>
                <td><%= invitee_info.comment %></td>
                <td><%= invitee_info.atendance %></td>
                <% @event.event_dates.each do |date| %>
                <td>
                  <%= form_for @invitee,:url =>{:action => :create} do |form| %>
                    <div class="atendance">
                      <% invitee_true_id = "invitee_true_" + invitee_info.id.to_s + date.date.to_s %>
                      <% true_id = "true_" + invitee_info.id.to_s + date.date.to_s %>
                      <%= form.radio_button :atendance,1,:id => invitee_true_id,:checked => ""%>
                      <%= form.label true_id, "○" %>
                      <% invitee_false_id = "invitee_false_" + invitee_info.id.to_s + date.date.to_s %>
                      <% false_id = "false_" + invitee_info.id.to_s + date.date.to_s %>
                      <%= form.radio_button :atendance,2,:id => invitee_false_id %>
                      <%= form.label false_id, "×" %>
                    </div>
                  <% end %>


                </td>
                <% end %>
              </tr>
            <% end %>

        </tbody>

      </table>
      <% end %>


    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title lead">お店候補   <%= link_to "お店候補を追加する", new_event_bar_path(@event),{:class => "btn btn-success" , :type => "button"} %></h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @event.bars.each do |bar| %>
              <li>
                <%= link_to bar.name, bar.url, :class => 'list-group-item' %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title lead">日程候補</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @event.event_dates.each do |date| %>
              <li>
                <div class="list-group-item">
                  <%= date.date %>
                </div>
              </li>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
