<%= stylesheet_link_tag "invitees", :media => "all" %>
<%= form_for @invitee,:url =>{:action => :create} do |f| %>


  <p>参加者名</p>
  <%= f.text_field :name %><br>
  <p>コメント</p>
  <%= f.text_area :comment %><br>
  <p>参加可否  <%= f.check_box_tag :atendance, true, true, {} %>  </p>
  
  <div class="atendance">
    <%= f.radio_button :atendance,"1",:name =>'s3',:id => 'invitee_good',:checked =>"" %>
    <%= f.label :good, "参加" %>
    <%= f.radio_button :atendance,"2",:name =>'s3',:id => 'invitee_subtle' %>
    <%= f.label :subtle, "微妙" %>
    <%= f.radio_button :atendance,"3",:name =>'s3',:id => 'invitee_bad'%>
    <%= f.label :bad, "欠席" %>
  </div><br><br>
  <% if @invitee.errors.any? %>
  <%= @invitee.errors.messages[:name][0]%>
  <% end %>


  <%= f.submit("参加者登録") %>


<% end %>
