<%= stylesheet_link_tag "userpages", :media => "all" %>



<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <div class="title_text"><%= current_user.name %>さんのイベント <%= link_to "イベント作成", new_event_path,{:class => "btn btn-info" , :type => "button"} %> </div>
        <table class="event_table">
            <% @events.each do |event| %>
              <tr><th><%= event.title %></th><td><%= event.detail %></td></tr>

            <% end %>
          
        </table>
        
    </div>
    <div class="col-sm-4">
      <!-- <div class="row frame"> -->
      <!-- ads -->
      <!-- </div> -->
    </div>
  </div>
</div>
