// Place all the styles related to the authed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color:#F0FAE4;

$table-base-color:#B2B296;
$table-border-color:#332D27;

/* SCSS */
body{
    background-color:$background-color;

}
.title_text{
  color:#FEB638;
  font-size : 2em;   /* 48px */
  line-height : 1;   /* 48px */
  margin-bottom: 0.5em;   /* 24px */
}

/*テーブルデザイン*/
.event_table{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
 
.event_table th{
  padding: 6px 8px 5px;
  border-top: solid 1px #ffffff;
  width: 30%;
  overflow: hidden;
  color: #13131e;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: top;
  background-color: $table-base-color;
}
 
.event_table td{
padding: 5px 10px;
text-align: left;
vertical-align: top;
color: #595960;
background-color: #ffffff;
border-top: dotted 1px #e0dccc;
overflow: hidden;
word-break: break-all;
word-wrap: break-word;
}
 
@media (max-width: 400px){
.event_table th{
  width:100%;
  display:block;
  margin: 0 auto;
  border:none;
  border-radius: 3px;
}
.event_table td{
  display: list-item;
  width: 100%;
  border-top: none !important;
}
}/* end */