// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$table-base-color:#B2B296;
$table-border-color:#332D27;


.atendance input{
	display: none;
}
.atendance label{
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.atendance label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.atendance label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.atendance input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}


.sample input{
	display: none;
}
.sample label{
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.sample label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.sample label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.sample input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}


/*テーブルデザイン*/
.eventinfo_table{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
 
.eventinfo_table th{
  padding: 6px 8px 5px;
  border-top: solid 1px #ffffff;

  color: #13131e;
  background-color: $table-base-color;
}
 
.eventinfo_table td{
	padding: 5px 10px;
	color: #595960;
	background-color: #ffffff;
	border-top: dotted 1px #e0dccc;
}
