

// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*login form box*/
.form-box{

    position:relative;
    top: 50px;
}

.login_logo{
  /* Login: */
font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','Meiryo', 'メイリオ', 'sans-serif';
font-size: 50px;
text-align: center;
color: #494646;
}

.login_box{
  background: #D8D8D8;
  border: 11px solid #979797;
  border-radius: 57px;
  width: 400px;
}

body {
    background:url("background.png") no-repeat center fixed;
    background-size:cover;
}
.logo {
  z-index: 1;
}


CSS

.box{
    background:#fff;
    box-shadow:1px 1px 8px rgba(0,0,0,0.3),0 0 50px rgba(0,0,0,0.1) inset;
    position:relative;
    width:300px;
    margin:40px auto;
    padding: 25px;
}

.box{
    background:#fff;
    box-shadow:1px 1px 8px rgba(0,0,0,0.3),0 0 50px rgba(0,0,0,0.1) inset;
    position:relative;
    width:300px;
    margin:40px auto;
    padding: 25px;
}

CSS

.tape{
    background:rgba(255,255,255,0.4);
    border-left:2px dotted rgba(0,0,0,0.1);
    border-right:2px dotted rgba(0,0,0,0.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    width:85px;
    height:28px;
    position:absolute;
    top:-13px;
    left:36%;
    -webkit-transform:rotate(-8deg);
}

.tape{
    background:rgba(255,255,255,0.4);
    border-left:2px dotted rgba(0,0,0,0.1);
    border-right:2px dotted rgba(0,0,0,0.1);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    width:85px;
    height:28px;
    position:absolute;
    top:-13px;
    left:36%;
    -webkit-transform:rotate(-8deg);
}
