.frame {
   -moz-border-radius: 20px;    /* 古いFirefox */
   -webkit-border-radius: 20px; /* 古いSafari,Chrome */
   border-radius: 20px;         /* CSS3 */

   border: 3px #CD5C5C solid;     /* 枠線の装飾 */
   background-color: #FAFAD2;   /* 背景色 */
   /*margin: 10px;*/
   padding: 8px;
   text-align: center;

}

.img-responsive{
   max-width: 60%
}

.img-center{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
