<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HostManager" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->


    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= javascript_include_tag "bootstrap" %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag     controller.controller_name , media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag controller.controller_name , "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>


  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">HostManager</a> -->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "マイページ", user_root_path  %></li>
            <li><%= link_to "イベントリスト", events_path  %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete , :type => "button" ,:class => "btn btn-danger-outline"  %></li>
              <% else %>
                <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
              <% end %>
          </ul>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <!-- <%= bootstrap_flash %> -->
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; osker</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
